<!doctype html>
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <!-- include framework files here -->
  <script src="code/lib/jquery-1.7.1.js"></script>
  <script src="code/lib/underscore.js"></script>
  <script src="code/lib/json2.js"></script>
  <script src="code/lib/backbone.js"></script>
  <script src="code/lib/jquery.timeago.js"></script>

  <!-- include test framework here -->
  <link rel="shortcut icon" type="image/png" href="jasmine-standalone-1.1.0/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="jasmine-standalone-1.1.0/jasmine.css">

  <script src="jasmine-standalone-1.1.0/jasmine.js"></script>
  <script src="jasmine-standalone-1.1.0/jasmine-html.js"></script>
  <script src="helpers/sinon-1.0.0.js"></script>
  <script src="helpers/error.trap.js"></script>
  <script src="helpers/fake.server.js"></script>

  <!-- include source files here... -->
  <script src="code/boot/initialize.js"></script>
  <script src="code/config/urls.js"></script>
  <script src="code/config/selectors.js"></script>

  <script src="code/app/models/encounter.js"></script>
  <script src="code/app/models/patient.js"></script>
  <script src="code/app/collections/encounters.js"></script>
  <script src="code/app/router.js"></script>

  <script src="code/app/views/encounters.js"></script>
  <script src="code/app/views/encounter.js"></script>
  <script src="code/app/views/patient.js"></script>
  <script src="code/app/views/encounters.sort.js"></script>

  <!-- include spec files here... -->
  <script src="models/encounter.spec.js"></script>
  <script src="models/patient.spec.js"></script>
  <script src="collections/encounters.spec.js"></script>
  <script src="router.spec.js"></script>

  <script src="views/encounters.spec.js"></script>

  <script>
    (function() {
      "use strict";

      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 1000;

      var trivialReporter = new jasmine.TrivialReporter();

      jasmineEnv.addReporter(trivialReporter);

      jasmineEnv.specFilter = function(spec) {
        return trivialReporter.specFilter(spec);
      };

      var currentWindowOnload = window.onload;

      window.onload = function() {
        if (currentWindowOnload) {
          currentWindowOnload();
        }
        execJasmine();
      };

      function execJasmine() {
        jasmineEnv.execute();
      }

    })();
  </script>

</head>

<body>
  <div id="syntax-errors" style="color:#cc2222"></div>
  <!-- include templates here... -->
  <script type="text/template" id="template-encounters">
    <header class="grey-gradient">Patients</header>
    <section class="content">
      <nav class="margin-bottom-gutter" id="encounters-filter">
        <ul>
          <li class="blue-gradient margin-right-gutter">Today</li>
          <li class="grey-gradient margin-right-gutter">Pending</li>
          <li class="grey-gradient">All</li>
        <ul>
      </nav>
      <input type="text" class="search margin-bottom-gutter wide" />

      <nav class="margin-bottom-gutter" id="encounters-sort">
        <ul>
          <li class="grey-gradient margin-right-gutter" data-sort-by="appointmentTime">Time</li>
          <li class="grey-gradient margin-right-gutter" data-sort-by="providerName">Doctor</li>
          <li class="blue-gradient margin-right-gutter" data-sort-by="patientName">Name</li>
          <li class="grey-gradient">Urgency</li>
        </ul>
      </nav>

      <section id="encounters-container"></section>
    </section>
  </script>

  <script type="text/template" id="template-encounter">
    <section class="grey-gradient margin-bottom-gutter">
      <img src="images/thumbnail.png" />
      <section class="encounter-container">
        <div class="patient"> <%= patient.display %> </div>
        <div class="provider"> <%= provider.display %> </div>
        <span>
          <span class="number">411</span>
          <span class="time replace-by-timeago" title="<%= encounterDatetime %>" ></span>
        </span>
      </section>
    </li>
  </script>

  <script type="text/template" id="template-patient">
    <div class="name"> <%= name() %> </div>
    <div class="age"> Age: <%= age() %> </div>
    <div class="address"> <%= address() %> </div>

    <section class="patient-details">
      <header>Patient History</header>
      <section class="patient-information spacer">
        <p>Some info from the screener to help the doctor or nurse with more information as they scroll through the patient list</p>
      </section>

      <header>Family History</header>
      <section class="patient-information spacer">
        <p>Some info from the screener to help the doctor or nurse with more information as they scroll through the patient list</p>
      </section>

      <header>Social History</header>
      <section class="patient-information spacer">
        <p>Some info from the screener to help the doctor or nurse with more information as they scroll through the patient list</p>
      </section>

      <header>Notes</header>
      <section class="patient-information">
        <p>Some info from the screener to help the doctor or nurse with more information as they scroll through the patient list</p>
      </section>
    </section>
  </script>

</body>
</html>
