<!doctype html>
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <!-- include framework files here -->
  <script src="code/lib/jquery-1.7.1.js"></script>
  <script src="code/lib/underscore.js"></script>
  <script src="code/lib/json2.js"></script>
  <script src="code/lib/backbone.js"></script>
  <script src="code/lib/jquery.timeago.js"></script>

  <!-- include test framework here -->
  <link rel="shortcut icon" type="image/png" href="jasmine-standalone-1.1.0/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="jasmine-standalone-1.1.0/jasmine.css">

  <script src="jasmine-standalone-1.1.0/jasmine.js"></script>
  <script src="jasmine-standalone-1.1.0/jasmine-html.js"></script>
  <script src="helpers/sinon-1.0.0.js"></script>
  <script src="helpers/fake.server.js"></script>

  <!-- include source files here... -->
  <script src="code/boot/initialize.js"></script>
  <script src="code/config/urls.js"></script>
  <script src="code/config/selectors.js"></script>

  <script src="code/app/models/encounter.js"></script>
  <script src="code/app/models/patient.js"></script>
  <script src="code/app/collections/encounters.collection.js"></script>
  <script src="code/app/router.js"></script>

  <script src="code/app/views/encounters.index.js"></script>
  <script src="code/app/views/encounter.show.js"></script>
  <script src="code/app/views/patient.show.js"></script>
  <script src="code/app/views/encounters.sort.js"></script>

  <!-- include spec files here... -->
  <script src="models/encounter.spec.js"></script>
  <script src="collections/encounters.collection.spec.js"></script>
  <script src="router.spec.js"></script>

  <script src="views/encounters.index.spec.js"></script>

  <script>
    (function() {
      "use strict";

      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 1000;

      var trivialReporter = new jasmine.TrivialReporter();

      jasmineEnv.addReporter(trivialReporter);

      jasmineEnv.specFilter = function(spec) {
        return trivialReporter.specFilter(spec);
      };

      var currentWindowOnload = window.onload;

      window.onload = function() {
        if (currentWindowOnload) {
          currentWindowOnload();
        }
        execJasmine();
      };

      function execJasmine() {
        jasmineEnv.execute();
      }

    })();
  </script>

</head>

<body>
  <!-- include templates here... -->
  <script type="text/template" id="template-encounters">
    <h2>Encounters</h2>
    <nav id="encounters-sort">
      <a href="#" data-sort-by="patientName">Patient</a>
      <a href="#" data-sort-by="providerName">Provider</a>
    </nav>
    <ol id="encounters-container"></ol>
  </script>

  <script type="text/template" id="template-encounter">
    <div class='patient-name clear-left'> <%= patient.display %> </div>
      <div class='patient-more-info clear-left'>
        <div class='provider-name'> <%= provider.display %> </div>
        <div class='encounter-time replace-by-timeago' title='<%= encounterDatetime %>' ></div>
      </div>
    </div>
  </script>

  <script type="text/template" id="template-patient">
    <li class='patient-name'>Name: <%= Name %> </li>
    <li class='patient-details'>Age: <%= Age %> </li>
    <li class='patient-details'><%= Address %> </li>
  </script>
</body>
</html>
