.clear-left {
  clear: left;
}

.error {
  color: #cc1122
}

#patients-container {
  width: 50%;
  float: left;
}

.patient-name {
  float: left;
  width: 50%;
  padding: 2px;
  font-size: 0.9em;
}

.doctor-name {
  float: left;
  width: 30%;
  padding: 2px;
  font-size: 0.7em;
  font-style: bold;
}

.patient-id {
  float: left;
  width: 10%;
  padding: 2px;
  font-size: 0.55em;
  font-style: bold italics;
}

#patient-details-container {
  width: 45%;
  float: left;
}

