ul li {
  list-style-image: none;
  list-style-type: none;
}

ol li {
  list-style-image: none;
  list-style-type: none;
}

.clear-left {
  clear: left;
}

.error {
  color: #cc1122
}

#appointments {
  width: 50%;
  float: left;
  text-align: center;
}

#patients-container .patient {
  font-size: 0.9em;
}

#patients-container .patient-name {
  float: left;
  width: 50%;
  padding: 2px;
}

#patients-container .doctor-name {
  float: left;
  width: 30%;
  padding: 2px;
  font-size: 0.7em;
  font-style: bold;
}

#patients-container .patient-id {
  float: left;
  width: 10%;
  padding: 2px;
  font-size: 0.55em;
  font-style: bold italics;
}

#patient-details-container {
  width: 45%;
  float: left;
}

#patient-details-container .patient {
  font-size: 1.3em;
}

